/*Navigation (Header)*/
body{
    margin: 0px;
}
.tableaubg {
    background-image: url('../images/Road.jpg');
    background-position: top left;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header-wrapper { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #404040;
}
.padding{
    padding: 4px;
}
.subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header {
    background-color: rgba(43, 43, 43, 0.7);
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Tableau (Main Body)*/
.chart {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.tableauPlaceholder {
    height: 500px;
}
/*Chart Lables*/
.label {    
    background-color: rgba(43, 43, 43);
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*Footer (at the bottom*/
.footer {
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 8px;
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
}